.qcode {
    display: grid;
    width: 416px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 86.4px;
    grid-row-gap: 7.5px;
    padding-bottom: 7.5px;
    margin-left: 15px;
}

.qcode .item {
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.qcode .item .img {
    height: 85%;
}

.qcode .item .img img {
    height: 80%;
    width: 100%;
    margin-top: 2px;
}
