.customer-name {
    text-transform: capitalize;
}
.align-right {
    text-align: right!important;
}
#previewImage {
    text-align: center;
}
#previewImage * {
    width: 24%!important;
    float: left!important;
    height: inherit!important;
    border: 3px solid #000;
    margin-right: 10px;
}
.p-guide {
    text-align: center!important;
    font-size: 18px!important;
    margin-bottom: 15px!important;
    background: #00BCD4!important;
    color: #fff!important;
    padding: 3px!important; 
}
.print-order-image {
    font-size: 36px;
    color: #000;
}
.print-order-image .all {
    width: 1500px;
}
.info {
    font-size: 34px;
    margin-top: 5px;
    display: inline-block;
    float: left;
    margin-left: 20px;
}
.variable {
    margin-top: 20px;
    color: #607d8b;
    font-weight: bold;
}
.note {
    font-size: 46px;
    color: red;
    margin-bottom: 20px;
    margin-left: 20px;
}
img {
    width: 100%!important;
    margin: auto;
}
h1 {
    margin-bottom: 10px!important;
    font-size: 56px!important;
    text-align: center;
}
.refund {
    text-align: center;
    font-size: 40px;
    padding-bottom: 25px;
}

    .print-order-image .ct {
        padding-bottom: 10px;
    }

    .print-order-image .ct-title {
        font-weight: 500;
        color: black;
        display: inline-block;
        vertical-align: top;
    }

    .print-order-image .ct-detail {
        display: inline-block;
        vertical-align: top;
    }

    .print-order-image .head {
        margin-bottom: 15px;
        display: inline-block;
        border: 2px dashed #000;
        padding: 5px;
        margin-top: 10px;
        width: 100%;
    }

        .print-order-image .head .logo {
            background-color: #ffffff;
            text-align: center;
            margin-top: 0;
            width: 20%;
            display: inline-block;
            float: left;
        }

    .print-order-image .table-1 {
        margin-bottom: 10px;
        font-size: 36px;
    }

        .print-order-image .table-1 table {
            word-break: break-word;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            color: black;
        }

            .print-order-image .table-1 table .col-left {
                width: 40%;
            }

            .print-order-image .table-1 table th,
            .print-order-image .table-1 table td {
                padding: 5px 15px;
                border-top: 2px solid black;
                border-right: none;
                border-left: none;
            }

                .print-order-image .table-1 table th:nth-child(1),
                .print-order-image .table-1 table td:nth-child(1) {
                    color: black;
                    font-weight: 600;
                }

                .print-order-image .table-1 table th:nth-child(2),
                .print-order-image .table-1 table td:nth-child(2) {
                    text-align: left;
                    font-weight: 400;
                }

    .print-order-image .table-2 {
        margin-bottom: 10px;
    }

        .print-order-image .table-2 table {
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            color: black;
            word-break: break-word;
        }

            .print-order-image .table-2 table col.order-item {
                width: 6%;
            }

            .print-order-image .table-2 table col.image {
                width: 13%;
            }

            .print-order-image .table-2 table col.name {
                width: 27%;
            }

            .print-order-image .table-2 table col.quantity {
                width: 6%;
            }

            .print-order-image .table-2 table col.price {
                width: 12%;
            }

            .print-order-image .table-2 table col.sold-price {
                width: 12%;
            }

            .print-order-image .table-2 table col.fee {
                width: 12%;
            }

            .print-order-image .table-2 table col.subtotal {
                width: 12%;
            }

            .print-order-image .table-2 table th,
            .print-order-image .table-2 table td {
                padding: 10px 10px 0 10px;
                border-top: 2px solid black;
                border-left: none;
                border-right: none;
                text-align: left;
                vertical-align: middle;
            }

                .print-order-image .table-2 table th:nth-child(1),
                .print-order-image .table-2 table td:nth-child(1) {
                    text-align: center;
                }

            .print-order-image .table-2 table th {
                background-color: #F44336;
                color: #fff;
                border-top: none;
                vertical-align: middle;
            }

            .print-order-image .table-2 table td:nth-child(1) {
                font-weight: 500;
            }

            .print-order-image .table-2 table td[colspan="4"] {
                text-align: right;
            }

            .print-order-image .table-2 table td[colspan="5"] {
                text-align: right;
            }

            .print-order-image .table-2 table td.strong {
                font-weight: 600;
            }
