#header .hd-left {
    height: 40px;
}
.item-website {
    margin-top: 10px;
    margin-bottom: 5px;
}
.item-website .btn {
    margin-right: 10px;
}
.update-hot-product {
    color: #428bca!important;
    font-size: 22px;
    margin-right: 5px;
}
.p-paterials {
    font-size: 13px;
    margin-top: 7px;
}
.tag-blue {
    background: #5bc0de;
    color: #fff;
    display: inline-block;
    padding: 4px 5px;
    margin-right: 3px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 6px;
    white-space: nowrap;
    font-size: 11px;
    border-radius: 6px;
}
#tagList {
    margin-top: 15px;
}
.tag-blue-click {
    background: #5bc0de;
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    margin-right: 7px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 8px;
    white-space: nowrap;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.visible-sm {
    display: none !important;
}
@media (max-width: 480px) {
    .visible-sm {
        display: block !important;
    }
}

.totalproductQuantity {
    font-size: 18px;
}
.post-footer {
    font-size: 18px;
}
.post-footer .post-row {
    background-color: #fff!important;
}
.input-other-fee {
    width: inherit!important;
    vertical-align: middle;
    border: solid 1px #cdcdcd;
    background-color: #eeeeee;
    opacity: 1;
    box-shadow: none;
    border-radius: 2px;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.input-coupon {
    border-color: #cdcdcd;
    width: 160px!important;
    padding: 5px;
    height: 36px;
    line-height: 20px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    color: #000;
}
.input-discount {
    font-weight: 500!important;
    font-size: 18px!important;
}
.input-feeship {
    font-weight: 500!important;
    font-size: 18px!important;
}
.input-weight {
    font-weight: 500!important;
    font-size: 18px!important;
}
#feePrice {
    cursor: pointer;
    border-color: #cdcdcd;
    width: 160px;
    padding: 5px;
    height: 36px;
    line-height: 20px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    color: #000;
    float: right;
}
.sale-icon {
    background: #F44336;
    color: #fff;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
}
.old-price {
    text-decoration: line-through;
    color: #cccccc;
}
.font-green {
    background: #73a724;
    color: #fff;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
}
.font-red {
    background: #F44336;
    color: #fff;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
}
.font-blue {
    background: #2ea2cc;
    color: #fff;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
}
.search-button a {
    padding: 10px 10px!important;
}
.search-box {
    width: 100%;
}
.search-box input.form-control {
    width: 100%;
}
.search-box input:focus.form-control {
    background-color: #e3fdd2;
}
.table > thead > tr > th {
    background-color: #78909c;
    color: #fff;
    height: 55px;
    vertical-align: middle;
    padding: 15px 5px;
}
.table > thead > tr > th:first-child {
    text-align: left;
    padding: 5px 15px; 
}
.table > thead > tr > th .checklb .ip-avata:before, .table > thead > tr > th .radiolb .ip-avata:before {
    @inlcude transition(0s); 
}
.table > thead > tr > th .checklb input:checked + .ip-avata, .table > thead > tr > th .radiolb input:checked + .ip-avata {
    background-color: #fff; 
}
.table > thead > tr > th .checklb input:checked + .ip-avata:before, .table > thead > tr > th .radiolb input:checked + .ip-avata:before {
    color: #78909c; 
}
table.shop_table_responsive > tbody > tr:nth-of-type(2n) td {
    border-top: none;
    border-bottom: solid 1px #e1e1e1!important;
}
table.shop_table_responsive > tbody > tr:nth-of-type(2n + 1) td {
    border-top: none!important;
    border-bottom: none!important;
}
table.shop_table_responsive > thead > tr > th {
    border-bottom: none;
}
.btn-edit-fee {
    background-color: #000!important;
}
.select2-container--default .select2-selection--single {
    border: solid 1px #e1e1e1;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    padding-left: 15px;
}
.select2-container .select2-selection--single {
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    right: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
}
#invoice-image img {
    cursor: pointer;
}
.account-note {
    background: #fff;
    position: fixed;
    left: 165px;
    bottom: 25px;
    width: 200px;
    height: 50px;
    border: rgba(248, 119, 3, 0.5) 5px solid;
    z-index: 9999;
}
.account-note .button-note {
    height: 40px;
    line-height: 20px;
    text-align: center;
    padding: 10px 15px;
    border-radius: inherit;
    width: 33.33333%;
    float: left;
    background-color: #ff8400;
    color: #fff;
}
.account-note .close-note-popup.button-note {
    background-color: #000;
    width: 100%;
}
.account-note .zoom-in-note-popup.button-note {
    background-color: #F44336;
    display: none;
}
.account-note .save-note.button-note {
    background-color: #ff8400;
    display: none;
}
.table-new-product.table > tbody > tr:nth-of-type(2n + 1) td {
    border-top: none;
    background-color: #fff;
}
.table-new-product.table > tbody > tr > td {
    vertical-align: top;
}
.tr-more-info {
    height: 52px;
}
.order-info {
    margin-right: 45px;
    font-size: 14px;
    border-bottom: 1px dashed #d3d3d3;
    padding-bottom: 5px;
}
.col-customer {
    width: 250px;
}
.disabled {
    pointer-events: none;
    opacity: 0.6;
}
a.bg-button {
    color:#fff!important;
}
a.bg-button:hover {
    color:#fff!important;
}
.show {
    display: block!important;
}
.variable-label {
    cursor: pointer;
}
.variable-content {
    display: none;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.upload-btn {
  display: none!important;
}
.imgpreview {
    cursor: pointer;
}
.checked {
    background: #fff0c5!important;
}
.pad {
    padding-bottom: 15px;
}
.pad10 {
    padding-right: 10px;
}
.table-transport .column-name {
    width: 17%;
}
.table-transport .column-phone {
    width: 11%;
}
.table-transport .column-address {
    width: 26%;
}
.table-transport .column-prepay {
    width: 8%;
}
.table-transport .column-cod {
    width: 8%;
}
.table-transport .column-createddate {
    width: 8%;
}
.table-transport .column-createdby {
    width: 10%;
}
.table-transport .column-action {
    width: 12%;
}
.page-title span {
    font-weight: 300;
    font-size: 16px;
}
#buttonbar {
    position: fixed;
    right: 15px;
    bottom: 0;
    left: 150px;
    width: calc(100% - 150px);
    width: -webkit-calc(100% - 150px);
    padding-left: 15px;
    padding-right: 15px;
    display:none;
}
#buttonbar .panel-buttonbar {
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

#buttonbar .panel-buttonbar .panel-post {
    background-color: transparent!important;
}
#buttonbar .panel-buttonbar .post-table-links {
    padding-right: 15px;
    padding-left: 15px;
}
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	background-color: #fff;
}

.scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: #fff;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	background-color: #fff;
}

.scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: #fff;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
.scrollbar2::-webkit-scrollbar-track
{
	background-color: #32373c;
}

.scrollbar2::-webkit-scrollbar
{
	width: 8px;
	background-color: #32373c;
}

.scrollbar2::-webkit-scrollbar-thumb
{
	background-color: #000;
}

.input-disabled {
    background-color: #eeeeee;
}
.btn-complete-order {
    background-color: #F44336;
    width: 100%!important;
    text-transform: uppercase;
    padding: 14px;
    height: 50px;
    font-size: 22px;
}
.div-product-list {
    max-height: 400px;
    overflow-x: auto;
}
.table-popup-product .check-column {
    width: 5%;
}
.table-popup-product .image-column {
    width: 10%;
}
.table-popup-product .name-column {
    width: 32%;
}
.table-popup-product .sku-column {
    width: 21%;
}
.table-popup-product .variable-column {
    width: 16%;
}
.table-popup-product .quantity-column {
    width: 16%;
}

.table-return-order .order-column {
    width: 5%;
}
.table-return-order .image-column {
    width: 12%;
}
.table-return-order .name-column {
    width: 22%;
}
.table-return-order .sku-column {
    width: 9%;
}
.table-return-order .price-column {
    width: 8%;
}
.table-return-order .sold-price-column {
    width: 8%;
}
.table-return-order .quantity-column {
    width: 6%;
}
.table-return-order .type-column {
    width: 14%;
}
.table-return-order .fee-column {
    width: 8%;
}
.table-return-order .total-column {
    width: 8%;
}
.table-return-order .trash-column {
    width: 5%;
    text-align: right;
    padding-right: 20px;
}
.table-return-order .trash-column a {
    font-size: 24px;
}
.table-return-order .image-column img {
    width: 100%;
}


.table-sale-order .order-item {
    width: 5%;
}
.table-sale-order .image-item {
    width: 10%;
    text-align: left!important;
}
.table-sale-order .image-item img {
    width: 100%;
}
.table-sale-order .name-item {
    width: 30%;
    text-align: left!important;
}
.table-sale-order .sku-item {
    width: 11%;
    text-align: left!important;
}
.table-sale-order .variable-item {
    width: 11%;
    text-align: left!important;
}
.table-sale-order .price-item {
    width: 9%;
    text-align: left!important;
}
.table-sale-order .quantity-item {
    width: 7%;
    text-align: left!important;
}
.table-sale-order .total-item {
    width: 10%;
    text-align: left!important;
}
.table-sale-order .trash-item {
    width: 7%;
    text-align: left!important;
}
.table-sale-order .trash-item a {
    font-size: 24px;
}

.table-pos-order tbody > tr > td {
    padding-top: 5px;
    padding-bottom: 5px;
}
.table-pos-order .image-item {
    width: 10%;
    text-align: left!important;
}
.table-pos-order .name-item {
    width: 28%;
    text-align: left!important;
}
.table-pos-order .sku-item {
    width: 12%;
    text-align: left!important;
}
.table-pos-order .variable-item {
    width: 18%;
    text-align: left!important;
}
.table-pos-order .price-item {
    width: 8%;
    text-align: left!important;
}
.table-pos-order .quantity-item {
    width: 9%;
    text-align: left!important;
}
.table-pos-order .total-item {
    width: 10%;
    text-align: left!important;
}
.table-pos-order .trash-item {
    width: 5%;
    text-align: left!important;
}
.table-pos-order .trash-item a {
    font-size: 20px;
}
.table-pos-order .image-item img {
    width: 100%;
}
.col-customer-name-link {
    font-weight: bold;
    font-size: 20px;
}
.customer-name-link {
    font-weight: bold;
}
.name-bottom-nick {
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 8px;
    display: block;
}
.btn-return-order {
    height: 36px;
    border-radius: 0;
    background-color: #F44336;
    margin-right: 10px;
    line-height: 18px;
    color: #fff!important;
}
.btn-feeship {
    height: 36px;
    border-radius: 0;
    background-color: #F44336;
    margin-right: 5px;
    line-height: 18px;
    color: #fff!important;
}
.btn-coupon {
    height: 36px;
    border-radius: 0;
    background-color: #F44336;
    margin-right: 10px;
    line-height: 18px;
    color: #fff!important;
}
.btn-cal-discount {
    height: 36px;
    border-radius: 0;
    background-color: #F44336;
    margin-right: 5px;
    line-height: 18px;
    color: #fff!important;
}
.btn-other-fee {
    height: 36px;
    border-radius: 0;
    background-color: #F44336;
    margin-right: 10px;
    line-height: 18px;
    color: #fff!important;
}
.capitalize {
    text-transform: capitalize;
}
.btn-red {
    background-color: #F44336!important;
}
.btn-black {
    background-color: #2A2A2A!important;
}
.btn-blue {
    background-color: #2ea2cc!important;
}
.btn-green {
    background-color: #73a724!important;
}
.btn-ghtk {
    background-color: #088a4b!important;
}
.btn-proship {
    background-color: #29a7df!important;
}
.btn-yellow {
    background-color: #ffba00!important;
}
.btn-violet {
    background-color: #8000d0!important;
    color: #fff!important;
}
.btn-violet:hover {
    background-color: #585858!important;
    color: #fff!important;
}
.sku-input {
    text-transform: uppercase;
}
.margin-top-15 {
    margin-top: 15px;
}
.list-customer {
    overflow-x: auto;
    max-height: 440px;
}
.table-list-customer thead th {
    background-color: #9e9e9e;
    border: solid 1px #9e9e9e;
    color: #fff;
}
.table-list-customer tbody tr {
    cursor: pointer;
}
.table-list-customer tbody tr:focus td{
    background-color: #25a0da;
    color: #fff;
}
.change-money label {
    font-size: 20px;
}
.change-money input {
    font-size: 20px;
}
.change-money input.total-money {
    font-size: 40px;
    height: 55px;
    background: #686868;
    color: #fff;
}

ul.image-gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.image-gallery li {
    float: none;
    width: 22%;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;
}
.header-search-box input {
    color: #fff!important;
}
.table-customer .image-column {
    width:10%;
}
.table-customer .name-column {
    width:13%;
}
.table-customer .nick-column {
    width:11%;
}
.table-customer .phone-column {
    width:8%;
}
.table-customer .zalo-column {
    width:8%;
}
.table-customer .facebook-column {
    width:5%;
}
.table-customer .province-column {
    width:10%;
}
.table-customer .buy-column {
    width:5%;
}
.table-customer .staff-column {
    width:6%;
}
.table-customer .group-column {
    width:10%;
}
.table-customer .date-column {
    width:7%;
}
.table-customer .action-column {
    width:7%;
}
.report-column {
    background: #fff;
}
.report-column .report-label {
    background: #78909c;
    color: #fff;
    padding: 15px;
}
.report-column .report-value {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}
.relative {
    position: relative!important;
}
#ManageStock {
    margin-bottom: 33px;
}
.content-box {
    max-height: 600px;
    overflow: auto;
}
.content-box img {
    width: inherit;
}
.all-variable-table-2 .image-column {
    width: 12%;
}
.all-variable-table-2 .variable-column {
    width: 58%;
}
.all-variable-table-2 .wholesale-price-column {
    width: 15%;
}
.all-variable-table-2 .stock-column {
    width: 15%;
}
.all-variable-table .image-column {
    width: 7%;
}
.all-variable-table .name-column {
    width: 22%;
}
.all-variable-table .sku-column {
    width: 6%;
}
.all-variable-table .wholesale-price-column {
    width: 5%;
}
.all-variable-table .retail-price-column {
    width: 5%;
}
.all-variable-table .cost-price-column {
    width: 5%;
}
.all-variable-table .stock-column {
    width: 4%;
}
.all-variable-table .stock-status-column {
    width: 12%;
}
.all-variable-table .category-column {
    width: 8%;
}
.all-variable-table .date-column {
    width: 7%;
}
.all-variable-table .show-homepage-column {
    width: 6%;
}
.all-variable-table .show-webpublish-column {
    width: 6%;
}
.all-variable-table .action-column {
    width: 8%;
}
.all-variable-table .variable-column {
    width: 20%;
}
.all-variable-table .hide-column {
    width: 5%;
}
.all-product-table-2 .checkbox-column {
    width: 3%;
}
.all-product-table-2 .checkbox-column input {
    height: 20px;
    width: 20px;
}
.all-product-table-2 .image-column {
    width: 9%;
}
.all-product-table-2 .name-column {
    width: 22%;
}
.all-product-table-2 .sku-column {
    width: 6%;
}
.all-product-table-2 .wholesale-price-column {
    width: 5%;
}
.all-product-table-2 .retail-price-column {
    width: 5%;
}
.all-product-table-2 .cost-price-column {
    width: 5%;
}
.all-product-table-2 .stock-column {
    width: 4%;
}
.all-product-table-2 .stock-status-column {
    width: 6%;
}
.all-product-table-2 .category-column {
    width: 8%;
}
.all-product-table-2 .date-column {
    width: 7%;
}
.all-product-table-2 .show-homepage-column {
    width: 6%;
}
.all-product-table-2 .show-webpublish-column {
    width: 6%;
}
.all-product-table-2 .action-column {
    width: 11%;
}
.all-product-table-2 .variable-column {
    width: 20%;
}
.all-product-table-2 .hide-column {
    width: 5%;
}
.all-product-table .image-column {
    width: 10%;
}
.all-product-table .name-column {
    width: 17%;
}
.all-product-table .sku-column {
    width: 6%;
}
.all-product-table .wholesale-price-column {
    width: 5%;
}
.all-product-table .retail-price-column {
    width: 5%;
}
.all-product-table .cost-price-column {
    width: 5%;
}
.all-product-table .stock-column {
    width: 8%;
}
.all-product-table .stock-status-column {
    width: 6%;
}
.all-product-table .category-column {
    width: 8%;
}
.all-product-table .date-column {
    width: 7%;
}
.all-product-table .show-homepage-column {
    width: 6%;
}
.all-product-table .show-webpublish-column {
    width: 6%;
}
.all-product-table .action-column {
    width: 11%;
}
.all-product-table .variable-column {
    width: 20%;
}
.all-product-table .hide-column {
    width: 5%;
}

.import-stock .select-column {
    width: 3%;
}
.import-stock .image-column {
    width: 17%;
}
.import-stock .name-column {
    width: 22%;
}
.import-stock .sku-column {
    width: 11%;
}
.import-stock .variable-column {
    width: 14%;
}
.import-stock .supplier-column {
    width: 12%;
}
.import-stock .stock-column {
    width: 7%;
}
.import-stock .quantity-column {
    width: 8%;
}
.import-stock .trash-column {
    width: 6%;
    text-align: center;
}
.import-stock .trash-column a{
    font-size: 24px;
}
.select-column {
    width: 6%;
    text-align: right!important;
}
.nick-column {
    width: 17%;
    text-align: left!important;
}
.name-column {
    width: 18%;
    text-align: left!important;
}
.phone-column {
    width: 11%;
    text-align: left!important;
}
.zalo-column {
    width: 11%;
    text-align: left!important;
}
.facebook-column {
    width: 8%;
    text-align: left!important;
}
.address-column {
    width: 18%;
    text-align: left!important;
}
.province-column {
    width: 11%;
    text-align: left!important;
}
.print-invoice-merged {
    margin-left: 15px;
}
.width-100 {
    width: 100%;
}
.clear-btn {
    margin-left: 15px;
    background-color: #F44336!important;
}
.edit-customer-btn {
    margin-left: 15px;
    background-color: #2A2A2A!important;
}
.change-user {
    float: right;
    font-size: 14px;
    padding: 5px 8px;
    background: #9E9E9E;
    color: #fff;
    border-radius: 5px;
    font-weight: normal;
    margin-right: 15px;
}
.change-user:hover {
    background: #686868;
    color: #fff;
}
.search-customer {
    float: right;
    font-size: 14px;
    padding: 5px 8px;
    background: #f87703;
    color: #fff;
    border-radius: 5px;
    font-weight: normal;
}
.search-customer:hover {
    background: #e56f04;
    color: #fff;
}
.price-red {
    color: #F44336;
    font-size: 18px!important;
}
.width-notfull {
    text-align: right;
}
img {
    width: 100%;
}

.form-row {
    float: left;
    width: 100%;
}
.btn-content {
    text-align: right;
}
.float-right-btn {
    float: right;
}
.row-left {
    float: left;
    width: 20%;
}

.row-right {
    float: left;
    width: 80%;
}

.page-title.not-margin-bot {
    margin-bottom: 0;
}

.not-fullwidth {
    width: auto !important;
}

.mar-top-1 {
    margin-top: 10px;
}

.mar-top-2 {
    margin-top: 20px;
}

.mar-top-3 {
    margin-top: 30px;
}

.mar-top-4 {
    margin-top: 40px;
}

.mar-top-5 {
    margin-top: 50px;
}
.bg-red {
    background: #F44336;
    color: #fff;
    display: block;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
}
.bg-brown {
    background: #795548;
    color: #fff;
    display: block;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
}
.bg-black {
    background: #2A2A2A;
    color: #fff;
    display: block;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
}

.bg-bronze {
    background: #bca56d;
    color: #fff;
    display: block;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
}

.bg-green {
    background: #73a724;
    color: #fff;
    display: block;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
}

.bg-yellow {
    background: #ffba00;
    color: #fff;
    display: block;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
}

.bg-blue {
    background: #2ea2cc;
    color: #fff;
    display: block;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
}

.bg-orange {
    background: orange;
    color: #fff;
    display: block;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
}
.bg-ghtk {
    background-color: #088a4b;
    color: #fff;
    display: block;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
}
.bg-proship {
    background-color: #29a7df;
    color: #fff;
    display: block;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
}
.bg-blue-hoki {
    background: #67809f;
    color: #fff;
    display: block;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
}

.btn.h45-btn.no-margin-bottom {
    margin-bottom: 0px;
}

.RadUpload .ruInputs {
    float: left;
    width: 100%;
}

    .RadUpload .ruInputs li {
        float: left;
        width: 20%;
        margin-right: 20px !important;
    }

.RadUpload {
    width: 100% !important;
}

.reContentCell body {
    background: none !important;
}

.row-variable-selected {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.v-element {
    float: left;
    width: 20%;
    margin-right: 10px;
    line-height: 40px;
}

.no-margin {
    margin: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
/*popup*/
#bg_popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.7;
    filter: alpha(opacity=70);
    left: 0px;
    top: 0px;
    z-index: 9999;
    opacity: 0;
    filter: alpha(opacity=0);
}

#popup_ms {
    background: #fff;
    border-radius: 0px;
    box-shadow: 0px 2px 10px #fff;
    float: left;
    position: fixed;
    width: 735px;
    z-index: 10000;
    left: 50%;
    margin-left: -370px;
    top: 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 360px;
}

    #popup_ms .popup_body {
        border-radius: 0px;
        float: left;
        position: relative;
        width: 735px;
    }

    #popup_ms .content {
        /*background-color: #487175;     border-radius: 10px;*/
        margin: 12px;
        padding: 15px;
        float: left;
    }

    #popup_ms .title_popup {
        /*background: url("../images/img_giaoduc1.png") no-repeat scroll -200px 0 rgba(0, 0, 0, 0);*/
        color: #ffffff;
        font-family: Arial;
        font-size: 24px;
        font-weight: bold;
        height: 35px;
        margin-left: 0;
        margin-top: -5px;
        padding-left: 40px;
        padding-top: 0;
        text-align: center;
    }

    #popup_ms .text_popup {
        color: #fff;
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 20px;
    }

        #popup_ms .text_popup a.quen_mk, #popup_ms .text_popup a.dangky {
            color: #FFFFFF;
            display: block;
            float: left;
            font-style: italic;
            list-style: -moz-hangul outside none;
            margin-bottom: 5px;
            margin-left: 110px;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }

            #popup_ms .text_popup a.quen_mk:hover, #popup_ms .text_popup a.dangky:hover {
                color: #8cd8fd;
            }

    #popup_ms .close_popup {
        background: url("/App_Themes/Ann/image/close_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: block;
        height: 28px;
        position: absolute;
        right: 0px;
        top: 5px;
        width: 26px;
        cursor: pointer;
        z-index: 10;
    }

#popup_content {
    position: fixed;
    background-color: #fff;
    top: 10%;
    z-index: 9999;
    left: 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px;
    right: 0%;
    margin: 0 auto;
}

.close_message {
    background: url("/App_Themes/Ann/image/close_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 16px;
    position: absolute;
    right: 5px !important;
    top: 5px;
    width: 16px !important;
    cursor: pointer !important;
    z-index: 10;
}
/*#popup_ms .close_popup:hover
{
    background-position:-160px 0px;
}*/
.btn_popup_group {
    clear: both;
    margin-left: 160px;
    margin-bottom: 10px;
}

a.btn_popup_back {
    color: #fff;
    font-size: 17px;
    font-family: Tahoma;
    border: dashed 1px #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 5px 10px 5px 10px;
    box-shadow: 2px 4px 10px -3px #000;
    margin-right: 60px;
    cursor: pointer;
}

    a.btn_popup_back:active {
        box-shadow: 2px 5px 10px 0px #000;
    }
/*End popup*/
.excute-in {
    display: none;
}

.custom-font-size-12 {
    font-size: 12px;
}

.print {
    width: 100%;
    font-family: "SFUIText",sans-serif;
}

.logo {
    float: left;
    width: 100%;
    text-align: center;
}

.logo img {
    width: 100%;
}

.bill-row {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 20px;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.product-list {
    float: left;
    width: 100%;
    clear: both;
}

.product-row {
    float: left;
    width: 100%;
    border-bottom: dotted 1px #ccc;
    padding: 10px 0px;
}

.row-content {
    float: left;
    width: 100%;
    clear: both;
}

.row-header {
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}

.p-name {
    float: left;
    width: 30%;
}

.p-variable {
    float: left;
    width: 50%;
}

.p-amount {
    float: left;
    width: 20%;
}

.p-price {
    float: left;
    width: 30%;
}

.border-bot-solid {
    border-bottom: solid 2px #ccc;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-12 {
    font-size: 12px;
}

.total {
    float: left;
    clear: both;
    border-top: solid 2px #ccc;
    width: 100%;
    padding: 20px 0;
    margin: 10px 0;
}

.float-right {
    float: right;
}

.thanks-full {
    float: left;
    width: 100%;
    text-align: center;
    font-style: italic;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 12px;
    border-top: dashed 1px #ccc;
}

.margin-bottom-3 {
    margin-bottom: 30px;
}

.fjx {
    width: calc(100% - 80px);
    float: left;
}
/* Hoang Anh them vao */
body {
    font-family: "Helvetica Neue",sans-serif;
    color: #555;
    font-weight: normal;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    #main-nav .nav-ul {
        width: 180px;
        background-color: #23282d;
        padding-top: 0;
        margin-bottom: 0;
        height: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #header .nav-toggle + #main-nav {
        transform: translate(-100%, 0);
        -webkit-transform: translate(-100%, 0);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    #header .nav-toggle.open + #main-nav {
        transform: translate(0%, 0);
        -webkit-transform: translate(0, 0);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.5);
        box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.5);
    }
}
@media (max-width: 769px) {
    .all-variable-table-2 .image-column {
        width: 30%;
    }
    .all-variable-table-2 .variable-column {
        width: 40%;
    }
    .all-variable-table-2 .wholesale-price-column {
        width: 15%;
    }
    .all-variable-table-2 .stock-column {
        width: 15%;
    }
    .row-left {
        width: 100%;
    }
    .row-right {
        width: 100%;
    }
    .account-note {
        display: none;
    }
    #header .hd-left {
        margin-left: 25px;
    }

}

    #header {
        padding: 0 10px;
    }

    #header:before {
        background-color: #32373c;
        border-bottom: none;
    }

    #header .nav-toggle.open + #main-nav {
        -webkit-box-shadow: none;
        -moz-box-shadow: initial;
        box-shadow: none;
    }

    #header .nav-toggle {
        left: 0;
    }

.user-action {
    margin-right: 10px;
}

    .user-action .user-name {
        padding: 5px 0;
        display: block;
        font-weight: normal;
        line-height: 30px;
        font-size: 14px;
    }

    .user-action a.user-name {
        color: #fff;
    }

        .user-action a.user-name:hover {
            color: #f87703;
        }

.menuin #header {
    padding-left: 160px;
}

.menuin #header:before {
        left: 150px;
    }

.menuin #main-wrap {
    left: 150px;
    width: calc(100% - 150px);
    width: -webkit-calc(100% - 150px);
    margin-bottom: 40px;
}

#main-wrap {
    top: 30px;
}

#main-nav {
    overflow: auto;
    width: 150px;
    background-color: #23282d;
    padding-top: 40px;
    color: #fff;
    font-weight: normal;
}

    #main-nav .nav-ul > li {
        display: block;
        font-weight: normal;
        margin-bottom: 0;
    }

        #main-nav .nav-ul > li > a {
            padding: 5px 5px;
            line-height: 25px;
        }

            #main-nav .nav-ul > li > a:hover {
                color: #f87703;
            }

            #main-nav .nav-ul > li > a .icon-menu {
                margin-right: 5px;
            }

.btn .h45-btn {
    height: 40px;
    line-height: 21px;
    padding: 10px;
}

.pagination {
    margin: 10px 0 0 0;
}

.search-product-content-listed {
    min-height: 350px;
    background: #fff;
    overflow-y: initial;
    padding: 5px;
}

.totalpriceorder {
    font-size: 18px;
    font-weight: bold;
}

.priceafterchietkhau {
    font-size: 18px;
    font-weight: bold;
}

.totalpriceorderall {
    font-size: 18px;
    font-weight: bold;
}

.topbar {
    display: inline-block;
    padding: 5px 7px;
    border-radius: 5px;
    background-color: #000;
    border: solid 1px #5c5c5c;
    height: 30px;
    color: #fafafa;
    margin-right: 10px;
    width: 180px;
}

.anhsanpham {
    width: 150px;
}
.totalpriceorderrefund {
    background-color: #eeeeee;
    border-color: #cdcdcd;
    border: solid 1px #cdcdcd;
    width: 160px!important;
    padding: 5px;
    height: 36px;
    line-height: 23px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    border-radius: 2px;
    vertical-align: middle;
    display: inline-block;
    cursor: not-allowed;
}
.totalpricedetail {
    font-size: 18px;
    font-weight: bold;
}

.content-popup {
    overflow-x: auto;
    max-height: 600px;
}

.fix {
    height: 760px !important;
}