@import url(../fonts/font-awesome-4.7/css/font-awesome.min.css);
@import url(../fonts/SFUIText/font.css);
@import url(reset.css);
@import url(bootstrap.css);
@import url(../js/bootstrap-table/bootstrap-table.css);
.clear:after, .top-10-star ul li:after, #footer:after, .student-info-list:after {
  content: "";
  display: table;
  clear: both; }

.clear:before, .top-10-star ul li:before, #footer:before, .student-info-list:before {
  display: table;
  content: " "; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: #f87703;
    text-decoration: none; }
  a:focus {
    text-decoration: none; }

html {
  height: 100%; }

body {
  font-family: "SFUIText", sans-serif;
  color: #78909c;
  font-size: 14px;
  line-height: 1.4;
  font-weight: normal;
  background-color: #f0f3f5; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: "SFUIText", sans-serif;
  line-height: 1.3; }

strong, .bold {
  font-weight: 600; }

.font-c {
  font-family: "SFUIText"; }

.all {
  position: relative;
  margin: 0 auto;
  width: 1170px; }

.main {
  float: left;
  width: 100%; }

.left {
  float: left; }

.right {
  float: right; }

.center-txt {
  text-align: center; }

.left-txt {
  text-align: left; }

.right-txt {
  text-align: right; }

.hl-txt {
  color: #f87703; }

.dark-txt {
  color: #000; }

a.hl-txt {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a.hl-txt:hover {
    color: #ac5302; }

.red-txt {
  color: #ff3f4c; }

a.red-txt {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a.red-txt:hover {
    color: #d8000f; }
  a.red-txt:focus {
    color: #ff3f4c; }

.form-control {
  width: 100%;
  height: 40px;
  font-family: "SFUIText", sans-serif;
  font-size: 14px;
  border: solid 1px #e1e1e1;
  padding: 10px 15px;
  line-height: 20px;
  outline: 0;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
  border-radius: 2px; }
  .form-control:focus {
    border-color: #f87703;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 119, 3, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 119, 3, 0.6); }
  .form-control.pill-control {
    border-radius: 20px;
    -webkit-border-radius: 20px; }

select.form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background: url(../image/icon-select.png) no-repeat right 15px center;
  padding-right: 25px;
  padding-left: 15px;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0; }

.form-control:invalid, .form-control.invalid {
  border-color: #ff0000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); }

textarea.form-control {
  height: 100px;
  resize: none;
  padding: 10px 15px; }

.btn {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  border: none;
  color: #f87703;
  height: 40px;
  line-height: 20px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 2px;
  text-align: center; }
  .btn.pill-btn {
    border-radius: 20px;
    -webkit-border-radius: 20px; }
  .btn.primary-btn {
    background-color: #f87703;
    color: white; }
    .btn.primary-btn:hover {
      color: white;
      background-color: #ac5302; }
  .btn.secondary-btn {
    color: #f87703;
    background-color: white; }
    .btn.secondary-btn:hover {
      color: #f87703;
      background-color: #ac5302; }
  .btn.tim-btn {
    background-color: #5b308b;
    color: #fff; }
    .btn.tim-btn:hover {
      color: white;
      background-color: #361c52; }
  .btn.fw-btn {
    text-align: center;
    width: 100%; }
  .btn.h20-btn {
    font-size: 12px;
    height: 20px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 20px;
    font-weight: normal; }
  .btn.h35-btn {
    height: 35px;
    line-height: 19px;
    padding-top: 8px;
    padding-bottom: 8px; }
  .btn.h45-btn {
    height: 45px;
    line-height: 21px;
    padding-top: 12px;
    padding-bottom: 12px; }
  .btn.edit-btn {
    background-color: #78909c;
    color: #fff; }
    .btn.edit-btn:hover {
      background-color: #546973; }
  .btn.delete-btn {
    background-color: #e73765;
    color: #fff; }
    .btn.delete-btn:hover {
      background-color: #bb1641; }
  .btn.white-btn {
    background-color: #fff;
    color: #000; }
  .btn:active {
    -webkit-box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5); }

.pagination {
  list-style: none; }
  .pagination li {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    font-weight: 600;
    background-color: transparent;
    font-size: 15px; }
    .pagination li a, .pagination li span {
      display: block;
      line-height: 20px;
      padding: 8px 10px; }
    .pagination li.current, .pagination li:hover {
      color: #f87703; }
      .pagination li.current > a, .pagination li:hover > a {
        color: inherit; }
  .pagination.xanh li.current, .pagination.xanh li:hover {
    color: #03a9f4; }
    .pagination.xanh li.current > a, .pagination.xanh li:hover > a {
      color: inherit; }

.checklb, .radiolb {
  cursor: pointer;
  display: inline-block;
  font-weight: normal; }
  .checklb input, .radiolb input {
    display: none; }
  .checklb span, .radiolb span {
    display: inline-block;
    vertical-align: middle; }
  .checklb .ip-avata, .radiolb .ip-avata {
    width: 20px;
    height: 20px;
    border: solid 1px #78909c;
    margin-right: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .checklb .ip-avata:before, .radiolb .ip-avata:before {
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f00c";
      display: block;
      margin-left: 3px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      width: 10px;
      height: 10px;
      text-align: center;
      margin-top: 2px;
      color: #fff;
      transform: scale(0) translate(0, -40px);
      -webkit-transform: scale(0) translate(0, -40px);
      -moz-transform: scale(0) translate(0, -40px);
      -ms-transform: scale(0) translate(0, -40px);
      -o-transform: scale(0) translate(0, -40px); }
  .checklb input:checked + .ip-avata, .radiolb input:checked + .ip-avata {
    background-color: #78909c; }
    .checklb input:checked + .ip-avata:before, .radiolb input:checked + .ip-avata:before {
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none; }

.radiolb .ip-avata {
  border-radius: 50%; }
  .radiolb .ip-avata:before {
    border-radius: 50%;
    content: '';
    width: 10px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    background: #f87703;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0); }

.radiolb + .radiolb {
  margin-left: 10px; }

.scroll-top-link {
  position: fixed;
  right: 15px;
  bottom: 70px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 20px;
  font-size: 24px;
  font-weight: bold;
  padding: 6px;
  text-align: center;
  background-color: #cfd4dd;
  border: rgba(248, 119, 3, 0.5) 5px solid;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .scroll-top-link:hover {
    border-color: #f87703; }

.scroll-bottom-link {
  position: fixed;
  right: 15px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 20px;
  font-size: 24px;
  font-weight: bold;
  padding: 6px;
  text-align: center;
  background-color: #cfd4dd;
  border: rgba(248, 119, 3, 0.5) 5px solid;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .scroll-bottom-link:hover {
    border-color: #f87703; }

.menuin #header {
  padding-left: 265px; }
  .menuin #header:before {
    left: 245px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.menuin #main-wrap {
  left: 245px;
  width: calc(100% - 245px);
  width: -webkit-calc(100% - 245px); }

@media (max-width: 1200px) {
  .menuin #header {
    padding-left: 75px; }
    .menuin #header:before {
      left: 0; }
  .menuin #main-wrap {
    left: 0;
    width: 100%; } }

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 15px 30px;
  padding-left: 75px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #header:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fefefe;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
  #header .nav-toggle {
    position: absolute;
    left: 22px; }
    #header .nav-toggle + #main-nav {
      transform: translate(-100%, 0);
      -webkit-transform: translate(-100%, 0);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    #header .nav-toggle.open + #main-nav {
      transform: translate(0%, 0);
      -webkit-transform: translate(0, 0);
      -webkit-box-shadow: 0px 0px 20px 0px rgba(138, 138, 138, 0.5);
      -moz-box-shadow: 0px 0px 20px 0px rgba(138, 138, 138, 0.5);
      box-shadow: 0px 0px 20px 0px rgba(138, 138, 138, 0.5); }
    @media (max-width: 1200px) {
      #header .nav-toggle + #main-nav {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transition: none;
        -webkit-transition: none; }
      #header .nav-toggle.open + #main-nav {
        transform: translate(-100%, 0);
        -webkit-transform: translate(-100%, 0);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; } }
  #header .hd-left {
    float: left;
    position: relative;
    min-height: 1px; }
  #header .hd-right {
    float: right;
    min-height: 1px;
    position: absolute;
    right: 0; }

.nav-toggle {
  position: relative;
  float: left;
  z-index: 3;
  height: 40px;
  line-height: 20px;
  padding: 10px 8px;
  border-radius: 5px; }
  .nav-toggle:active {
    background-color: rgba(248, 119, 3, 0.5); }

.slider-toggle {
  height: 40px;
  line-height: 20px;
  padding: 10px 8px;
  border-radius: 5px;
  float: left; }
  .slider-toggle:active {
    background-color: rgba(248, 119, 3, 0.5); }

.search-box {
  position: relative; }
  .search-box input.form-control {
    border: 0 none;
    box-shadow: none;
    width: 340px;
    max-width: 100%;
    font-size: 15px;
    background: url(../image/icon-search.png) no-repeat left 10px center;
    padding-left: 50px; }

.user-action {
  float: left;
  margin-right: 20px; }
  .user-action .user-name {
    padding: 5px 0;
    display: block;
    font-weight: 600;
    line-height: 30px;
    font-size: 17px; }

.user-mail {
  float: left;
  margin-right: 30px; }

.mail-toggle {
  position: relative;
  line-height: 30px;
  display: block;
  padding: 5px 0; }
  .mail-toggle .badge {
    position: absolute;
    right: -16px;
    top: 0; }

.badge {
  background-color: #f87703;
  padding: 2px 1px;
  text-align: center;
  line-height: 20px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%; }

#main-nav {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 245px;
  background-color: #fff;
  padding-top: 70px; }
  #main-nav .nav-ul {
    display: block;
    list-style: none;
    position: relative; }
    #main-nav .nav-ul > li {
      display: block;
      font-weight: 600;
      margin-bottom: 10px; }
      #main-nav .nav-ul > li:last-child {
        margin-bottom: 0; }
      #main-nav .nav-ul > li .side-sub {
        margin-left: 60px; }
        #main-nav .nav-ul > li .side-sub > li > a {
          line-height: 20px;
          padding: 5px 0;
          display: block; }
        #main-nav .nav-ul > li .side-sub > li .fa-li {
          top: 50%;
          transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%); }
        #main-nav .nav-ul > li .side-sub > li.active {
          color: #333; }
          #main-nav .nav-ul > li .side-sub > li.active .fa {
            color: #f87703; }
      #main-nav .nav-ul > li > a {
        display: block;
        position: relative;
        padding: 15px 30px;
        line-height: 30px;
        overflow: hidden; }
        #main-nav .nav-ul > li > a .icon-menu {
          margin-right: 10px; }
        #main-nav .nav-ul > li > a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 0;
          width: 3px;
          background-color: #f87703;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        #main-nav .nav-ul > li > a:before {
          content: '';
          height: 3px;
          width: 100%;
          background-color: #f87703;
          position: absolute;
          left: 1px;
          bottom: 0;
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          transform: translate(100%, 0);
          -webkit-transform: translate(100%, 0); }
      #main-nav .nav-ul > li.active > a, #main-nav .nav-ul > li:hover > a {
        color: #333; }
        #main-nav .nav-ul > li.active > a:after, #main-nav .nav-ul > li:hover > a:after {
          height: 100%; }
        #main-nav .nav-ul > li.active > a:before, #main-nav .nav-ul > li:hover > a:before {
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          opacity: 1;
          transform: translate(-100%, 0);
          -webkit-transform: translate(-100%, 0); }
        #main-nav .nav-ul > li.active > a .icon-menu, #main-nav .nav-ul > li:hover > a .icon-menu {
          background-position-x: -32px; }
  @media (max-width: 1200px) {
    #main-nav {
      overflow: hidden;
      background-color: transparent;
      padding-top: 0;
      width: 100%;
      height: 100%; }
      #main-nav .nav-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: .7; }
      #main-nav .nav-ul {
        float: left;
        overflow: auto;
        width: 245px;
        background-color: #fff;
        padding-top: 70px;
        margin-bottom: 0;
        height: 100%;
        -webkit-box-shadow: 0px 0px 20px 0px #8a8a8a;
        -moz-box-shadow: 0px 0px 20px 0px #8a8a8a;
        box-shadow: 0px 0px 20px 0px #8a8a8a; } }

.icon-menu {
  display: inline-block;
  vertical-align: middle;
  background: url(../image/icon-menu-pane.png) no-repeat;
  width: 24px;
  height: 24px; }
  .icon-menu.icon-home {
    background-position: 0 0; }
  .icon-menu.icon-post {
    background-position: 0 -26px; }
  .icon-menu.icon-lib {
    background-position: 0 -53px; }
  .icon-menu.icon-page {
    background-position: 0 -80px; }
  .icon-menu.icon-order {
    background-position: 0 -107px; }
  .icon-menu.icon-product {
    background-position: 0 -134px; }
  .icon-menu.icon-sell {
    background-position: 0 -160px; }
  .icon-menu.icon-input {
    background-position: 0 -188px; }
  .icon-menu.icon-folder {
    background-position: 0 -213px; }

#main-wrap {
  position: relative;
  left: 0;
  top: 70px;
  bottom: 0;
  width: 100%;
  overflow: auto;
  padding: 30px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 729px) {
    #main-wrap {
      top: 100px; } }

.panel-default > .panel-heading {
  background-color: #e9e9e9; }

.panel-default > .panel-body {
  background-color: #fefefe; }

.panel .pagination {
  margin: 0; }
  .panel .pagination ul {
    margin: 0; }

.page-title {
  margin: 0;
  font-weight: normal;
  margin-bottom: 25px;
  color: #333;
  font-size: 24px; }
  .page-title > a {
    margin-right: 15px; }

.container {
  max-width: 100%; }

.form-headding .lb {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }

.form-headding .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  width: 365px;
  max-width: 100%;
  background-color: #fff;
  margin-right: 10px; }

.form-headding .hl-txt {
  display: inline-block;
  vertical-align: middle; }

.sub-title {
  font-size: 16px;
  color: #333; }

.form-filter .form-group {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px; }
  .form-filter .form-group .form-group {
    margin-bottom: 0; }

.form-filter [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px; }

.bootstrap-table {
  background-color: #fff; }

#table-student th {
  background-color: #f87703;
  color: #fff;
  font-weight: 600; }

.fixed-table-container {
  border-radius: 0;
  -webkit-border-radius: 0; }
  .fixed-table-container thead th:first-child {
    border-radius: 0;
    -webkit-border-radius: 0; }
  .fixed-table-container #table-student thead th .both, .fixed-table-container .table-white-arrow thead th .both {
    background-image: url(../image/icon-arrow-both.png); }
  .fixed-table-container #table-student thead th .desc, .fixed-table-container .table-white-arrow thead th .desc {
    background-image: url(../image/icon-arrow-desc.png); }
  .fixed-table-container #table-student thead th .asc, .fixed-table-container .table-white-arrow thead th .asc {
    background-image: url(../image/icon-arrow-asc.png); }

.top-10-star {
  border: solid 1px #f87703;
  padding: 20px;
  background-color: #fff; }
  .top-10-star .title {
    font-size: 16px;
    margin: 0;
    margin-bottom: 30px; }
    .top-10-star .title img {
      vertical-align: middle;
      display: inline-block;
      margin-right: 5px; }
  .top-10-star ul {
    list-style: none;
    margin-bottom: 0; }
    .top-10-star ul li {
      display: block;
      font-size: 15px;
      margin-bottom: 15px; }
      .top-10-star ul li:nth-child(1) .num {
        color: #ff3333; }
      .top-10-star ul li:nth-child(2) .num {
        color: #ff3333; }
      .top-10-star ul li:nth-child(3) .num {
        color: #ff3333; }
    .top-10-star ul .num {
      font-weight: 600;
      float: left;
      width: 35px; }
    .top-10-star ul .name {
      color: #333333;
      float: left; }
    .top-10-star ul .year {
      float: right;
      width: 81px; }

.dashboard-chart {
  display: block;
  float: left;
  max-width: 100%;
  position: relative;
  margin-bottom: 20px; }
  .dashboard-chart #chart-pie {
    width: 300px; }
  .dashboard-chart #chart-bar {
    height: auto;
    width: 550px;
    max-width: 100%; }

.dashboard-info {
  display: inline-block;
  text-align: left; }

.side-full-bg {
  position: fixed;
  left: 0;
  width: calc(100% - 400px);
  top: 0;
  height: 100%;
  background: url("") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-image: url(../image/bg-login.jpg); }

.side-full-cont {
  width: 400px;
  max-width: 100%;
  overflow: auto;
  height: 100%;
  background-color: #fff;
  padding: 40px 30px;
  margin-left: auto;
  margin-right: auto; }
  .side-full-cont .logo {
    display: block;
    text-align: center;
    margin-bottom: 30px; }
  .side-full-cont .slogan {
    margin-bottom: 20px; }

.form-row {
  margin-bottom: 15px; }
  .form-row:last-child {
    margin-bottom: 0; }

.form-login input[type="submit"] {
  text-transform: uppercase; }

.form {
  margin-bottom: 25px; }

.social-login {
  text-align: center;
  letter-spacing: -20px; }
  .social-login .item {
    letter-spacing: normal;
    margin: 12px;
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 2px;
    color: #fff;
    background-color: #c1c1c1;
    text-align: center;
    line-height: 35px;
    padding: 5px;
    font-size: 24px; }
    .social-login .item.facebook {
      background-color: #3b5998; }
    .social-login .item.google {
      background-color: #dd4b39; }

.grey-text1 {
  color: #909090; }

.grey-text2 {
  color: #999999; }

.grey-text3 {
  color: #666666; }

.register-cont .small-tt {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px; }

.register-cont .slogan {
  font-size: 12px;
  color: #909090;
  margin-bottom: 45px; }

.panel-bodynogutter .panel-body {
  padding: 0; }

.table {
  margin-bottom: 0; }

.panel-class .panel-heading .records {
  line-height: 40px; }

.panel-class .table {
  border-bottom: 0 none; }

.panel-class .table > thead > tr > th {
  border: none 0; }

.panel-class .table > thead > tr > th {
  padding: 30px 10px; }
  .panel-class .table > thead > tr > th:first-child {
    padding-left: 30px; }
  .panel-class .table > thead > tr > th:last-child {
    padding-right: 30px; }

.panel-class .table > tbody > tr > td {
  border: 0 none;
  padding: 30px 10px;
  vertical-align: top; }
  .panel-class .table > tbody > tr > td:first-child {
    padding-left: 30px; }
  .panel-class .table > tbody > tr > td:last-child {
    padding-right: 30px; }

.panel-class .fixed-table-container {
  border: 0 none; }

.table-classes {
  border-top: solid 1px #e1e1e1; }
  .table-classes tr td {
    color: #333;
    font-weight: 600; }
    .table-classes tr td.title {
      font-size: 18px; }
      .table-classes tr td.title > p {
        width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        max-width: 100%; }
    .table-classes tr td.status {
      font-weight: normal;
      color: #78909c; }
      .table-classes tr td.status:before {
        display: none; }

.status:before {
  margin-right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle; }

.status.active:before {
  content: '';
  background-color: #33cc33; }

.table-classes-student tbody tr td .show-on-hover {
  display: none; }

.table-classes-student tbody tr:hover td .show-on-hover {
  display: block; }

.modal {
  z-index: 99991; }

.modal-backdrop {
  z-index: 9999; }

.modal-content {
  border-radius: 5px;
  border: none 0; }

.modal-header {
  background-color: #fba04f;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .modal-header .close {
    color: inherit;
    opacity: 1;
    width: 21px; }

.form-addStudent {
  max-width: 100%;
  margin: 0 auto;
  width: 540px; }
  .form-addStudent .control-label {
    text-align: left; }

.panelborderheading .panel-body {
  border-top: solid 1px #e1e1e1; }

.student-info-list {
  list-style: none;
  display: block;
  margin-bottom: 0; }
  .student-info-list > li {
    display: block;
    float: left;
    width: 25%;
    padding: 8px; }
  @media (max-width: 1200px) {
    .student-info-list > li {
      width: calc(100%/3); } }
  @media (max-width: 991px) {
    .student-info-list > li {
      width: calc(100%/2); } }
  @media (max-width: 600px) {
    .student-info-list > li {
      width: 100%; } }

.student-info-box {
  display: block;
  width: 100%;
  border: solid 1px #e1e1e1;
  border-radius: 2px;
  padding: 20px 10px; }
  .student-info-box dl {
    display: block;
    font-weight: 600; }
    .student-info-box dl dt {
      text-align: left;
      width: auto;
      margin-right: 5px;
      float: left; }
    .student-info-box dl dd {
      margin-left: 0;
      color: #333333; }
  .student-info-box .link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.panel-heading-plan {
  display: block;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 10px; }
  .panel-heading-plan select {
    line-height: 30px;
    height: 30px;
    width: 200px;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle; }

.schedule-wrap .overflow-ul li {
  display: block; }

.schedule-wrap .term {
  z-index: 2; }
  .schedule-wrap .term .overflow-ul {
    padding-right: 2px; }

.schedule-wrap .week {
  z-index: 1; }
  .schedule-wrap .week .overflow-ul {
    padding-left: 2px; }

.schedule-list-wrap {
  float: left;
  width: 50%;
  position: relative; }
  .schedule-list-wrap > .title {
    display: block;
    width: 100%;
    line-height: 24px;
    font-size: 15px;
    margin: 0;
    padding: 13px 25px;
    background-color: #78909c;
    color: #fff;
    position: relative;
    z-index: 2; }

.schedule-box {
  padding: 25px;
  padding-right: 10px;
  background-color: #fff;
  font-size: 13px;
  border: solid 1px #e4e9ec;
  margin-top: -1px;
  position: relative; }
  .schedule-box .title {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px; }
  .schedule-box > p {
    min-height: 18px; }
  .schedule-box .edit-link {
    display: none; }
  .schedule-box .action-link {
    color: #333;
    font-weight: 600;
    font-size: 15px; }
    .schedule-box .action-link .fa {
      margin-right: 5px; }
    .schedule-box .action-link.text-danger {
      color: #ff3333; }
  .schedule-box.editing {
    background-color: #f4f4f4; }
    .schedule-box.editing .edit-link {
      display: inline-block; }
    .schedule-box.editing:after {
      content: '';
      width: 20px;
      height: 20px;
      background-color: #f4f4f4;
      border: solid 1px #e4e9ec;
      border-left: 0;
      border-bottom: 0;
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -10px;
      margin-left: -10px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
  .schedule-box.schedule-action {
    padding-top: 51px;
    padding-bottom: 51px; }

.active .schedule-box {
  background-color: #fba04f;
  border-color: #fba04f;
  color: #fff; }
  .active .schedule-box:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fba04f;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -10px; }
  .active .schedule-box .hl-txt {
    color: inherit; }

.week-info .tab-content {
  background-color: #fff; }

.week-info .nav-tabs {
  border-bottom: 0 none; }
  .week-info .nav-tabs > li {
    padding-top: 11px; }
    .week-info .nav-tabs > li > a {
      background-color: #a2b4bd;
      color: #fff;
      text-align: center;
      border-color: #a2b4bd;
      margin-right: 0; }
    .week-info .nav-tabs > li:hover > a {
      color: #78909c; }
    .week-info .nav-tabs > li.active {
      padding: 0; }
      .week-info .nav-tabs > li.active > a {
        background-color: #78909c;
        border-color: #78909c;
        line-height: 24px;
        font-size: 15px;
        padding: 13px 25px;
        background-color: #78909c;
        color: #fff; }

.week-info .checklb, .week-info .radiolb {
  width: 100%; }
  .week-info .checklb .ip-avata, .week-info .radiolb .ip-avata {
    float: right;
    margin-right: 0;
    margin-left: 10px;
    border-radius: 3px;
    border-color: #bbc7cd; }
  .week-info .checklb input:checked + .ip-avata, .week-info .radiolb input:checked + .ip-avata {
    background-color: #bbc7cd; }
    .week-info .checklb input:checked + .ip-avata:before, .week-info .radiolb input:checked + .ip-avata:before {
      color: #fff; }

.week-info .table > thead > tr > th {
  border-right: 0 none; }

.week-info .table > tbody > tr > td {
  border: 0 none; }

.naplan-cont .caption {
  background-color: #78909c;
  color: #fff;
  margin: 0;
  line-height: 24px;
  padding: 13px 25px; }

.naplan-cont .naplan-list {
  width: 300px;
  float: left;
  max-width: 100%;
  position: relative;
  z-index: 2; }

.naplan-cont .naplan-ul {
  display: block;
  margin-bottom: 0; }
  .naplan-cont .naplan-ul > li {
    display: block; }
  .naplan-cont .naplan-ul .schedule-box .btn {
    height: 25px;
    line-height: 25px;
    padding: 0 15px;
    border-radius: 15px;
    color: #fff; }
    .naplan-cont .naplan-ul .schedule-box .btn.edit {
      background-color: #c7d6dd; }
    .naplan-cont .naplan-ul .schedule-box .btn.delete {
      background-color: #78909c; }
  .naplan-cont .naplan-ul .active .schedule-box .btn.edit {
    background-color: #f7b57b; }
  .naplan-cont .naplan-ul .active .schedule-box .btn.delete {
    background-color: #da7821; }

.naplan-cont .week-info {
  float: left;
  width: calc(100% - 300px); }
  .naplan-cont .week-info .fixed-table-container {
    border: 0 none; }
  .naplan-cont .week-info .table > thead > tr > th {
    height: 50px;
    vertical-align: middle;
    background-color: #78909c;
    color: #fff;
    border: 0 none; }
  .naplan-cont .week-info .table {
    border-bottom: 0 none; }

@media (max-width: 768px) {
  .naplan-cont .naplan-list {
    width: 100%; }
  .naplan-cont .week-info {
    width: 100%; } }

.panel-result {
  padding-top: 40px;
  padding-bottom: 40px; }
  .panel-result .tab-content {
    border: solid 1px #ddd;
    border-top: 0 none; }
    .panel-result .tab-content .pane-capt {
      display: block;
      line-height: 20px;
      padding: 10px 15px;
      margin-bottom: 0; }
    .panel-result .tab-content .table-result {
      border-left: 0;
      border-right: 0;
      border-bottom: 0; }

.result-chart {
  float: left;
  height: 240px; }
  .result-chart canvas {
    max-width: 100% !important;
    height: auto !important; }
  .result-chart.bar {
    width: 550px;
    max-width: 100%; }

.table-capt {
  color: #333;
  font-size: 18px;
  margin-top: 0; }

.table-result {
  border: solid 1px #e1e1e1; }
  .table-result thead > tr > th {
    border: 0 none;
    border-bottom: solid 1px #e1e1e1; }
  .table-result tbody > tr > td {
    border: 0 none; }
  .table-result.active-th thead > tr > th {
    background-color: #e9e9e9; }

.above-list-btn {
  margin-bottom: 25px; }
  .above-list-btn .btn {
    min-width: 80px;
    margin-bottom: 5px;
    color: #fff; }
    .above-list-btn .btn.white-btn {
      color: #000; }

.panel-post {
  background-color: #fefefe; }
  .panel-post .post-above {
    border: solid 1px #e1e1e1;
    padding: 6px 10px; }
    .panel-post .post-above .link-btn {
      display: inline-block;
      vertical-align: middle;
      line-height: 20px;
      padding: 10px; }
  .panel-post .post-body {
    border: solid 1px #e1e1e1;
    border-top: none; }
  .panel-post .post-row {
    background-color: #f8f8f8;
    color: #000;
    line-height: 19px;
    padding: 12px 15px;
    border: solid 1px #e1e1e1;
    border-top: 0 none; }
    .panel-post .post-row .right {
      text-align: right; }
    .panel-post .post-row .link-btn {
      display: inline-block;
      margin-left: 10px; }
  .panel-post .post-table-links .btn {
    float: left;
    width: 20%;
    color: #fff;
    border-radius: 0; }

.table > tbody > tr > th {
  background-color: #78909c;
  color: #fff;
  height: 55px;
  vertical-align: middle;
  padding: 15px 5px; }
  .table > tbody > tr > th:first-child {
    text-align: left;
    padding: 5px 15px; }
  .table > tbody > tr > th .checklb .ip-avata:before, .table > tbody > tr > th .radiolb .ip-avata:before {
    @inlcude transition(0s); }
  .table > tbody > tr > th .checklb input:checked + .ip-avata, .table > tbody > tr > th .radiolb input:checked + .ip-avata {
    background-color: #fff; }
    .table > tbody > tr > th .checklb input:checked + .ip-avata:before, .table > tbody > tr > th .radiolb input:checked + .ip-avata:before {
      color: #78909c; }

.table > tbody > tr > td {
  height: 40px;
  background-color: #fff;
  vertical-align: middle;
  text-align: left;
  padding: 15px 5px; }
  .table > tbody > tr > td:first-child {
    border-left: solid 1px #e1e1e1;
    padding-left: 15px; }
  .table > tbody > tr > td:last-child {
    border-right: solid 1px #e1e1e1; }
  .table > tbody > tr > td a {
    color: #f87703; }
    .table > tbody > tr > td a:hover {
      color: #000; }

.table > tbody > tr .price {
  color: #000; }

.table > tbody > tr:nth-of-type(2n + 1) td {
  background-color: #f8f8f8; }

.product-thumb .img {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border: solid 1px #e1e1e1; }

.product-thumb .info {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 90px);
  width: -webkit-calc(100% - 90px);
  padding-left: 10px; }
  .product-thumb .info .title {
    text-transform: uppercase;
    color: #000;
    font-size: 14px; }
  .product-thumb .info .meta {
    color: #000; }
    .product-thumb .info .meta span {
      color: #707070; }

.above-tab-links {
  margin-bottom: 10px; }
  .above-tab-links .link {
    color: inherit;
    display: inline-block;
    vertical-align: middle; }
    .above-tab-links .link .count {
      color: #707070; }
    .above-tab-links .link.active .txt {
      color: #000;
      font-weight: bold; }
  .above-tab-links .link-seperator {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    margin: 0 10px; }

.filter-above-wrap {
  margin-bottom: 20px; }
  .filter-above-wrap .filter-control {
    display: block;
    margin-right: 30px; }
    .filter-above-wrap .filter-control:last-child {
      margin-right: 0; }
    .filter-above-wrap .filter-control .form-control {
      background-color: #fff;
      display: inline-block;
      vertical-align: middle;
      height: 45px;
      line-height: 45px;
      padding-top: 0;
      padding-bottom: 0; }
    .filter-above-wrap .filter-control .btn {
      vertical-align: middle; }

.table-product {
  font-size: 15px; }
  .table-product .product-if {
    width: 330px;
    max-width: 100%; }

.panel-table .panel-footer {
  padding: 5px 15px; }
  .panel-table .panel-footer .pagination {
    margin: 5px 0; }
    .panel-table .panel-footer .pagination ul {
      margin-bottom: 0; }

.lb-color {
  display: inline-block;
  padding: 3px 10px;
  color: #fff;
  border-radius: 3px; }

.square-30px {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  padding: 5px;
  line-height: 20px;
  text-align: center;
  border: solid 1px #e4e8ea;
  background-color: #f8f8f8; }

.table-collapse {
  border-bottom: solid 1px #e1e1e1; }
  .table-collapse tbody > tr td {
    background-color: #fff !important; }
  .table-collapse tbody > tr.collapse-heading > td {
    border-bottom: none; }
  .table-collapse tbody > tr.collapse-heading + tr {
    display: none; }
    .table-collapse tbody > tr.collapse-heading + tr td {
      border-top: none; }
  .table-collapse tbody > tr.collapse-heading:nth-of-type(4n) td {
    background-color: #f8f8f8 !important; }
  .table-collapse tbody > tr.collapse-heading:nth-of-type(4n) + tr td {
    background-color: #f8f8f8 !important; }
  .table-collapse tbody > tr.collapse-heading.in + tr {
    display: table-row; }
