.row-right > .input-group > .custom-select {
    width: 94.3%;
}

.row-right > #added-account > span {
    display: inline-block;
    margin-left: 10px;
    padding: 0 0 0 5px;
    font-size: inherit;
    background-color: #2ea2cc!important;
    line-height: 40px;
}

.row-right > #added-account > span.owner {
    padding: 0 5px 0 5px;
}

.row-right > #added-account > span:first-child {
    margin-left: 0;
}

.row-right > #added-account > span > button{
    color: white;
}