.table-fixed thead {
  width: 98%;
}
.table-fixed tbody {
  max-height: 450px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed tbody tr {
    cursor: pointer;
}

.table-fixed tbody tr:hover {
    background-color: #87CEEB;
}

.table-fixed tbody tr:hover td {
    background-color: #87CEEB;
}